# Copier en .env.local pour le developpement local
# Ne pas commiter .env.local

# URL du backend Sejour
# En local : http://localhost:8080
# En prod  : https://projethotel-management.onrender.com
VITE_API_URL=http://localhost:8080